<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="html" href="reg">
    <title>form</title>
</head>
<body class="index-page">
    <header>
        <div class="logo">
            Records
        </div>
        <a href="reg">
        <div class="login-note">
            ATTENDANCE            
        </div>
        </a>
    </header>
    <form class="form">
        <div id="alert"></div>
        <h2 class="StudentSignin">Student Records</h2>
        <input type="text" placeholder="john deo" class="name">
        <input type="text" placeholder="BHU/00/00/00/0000">
        <input type="text" placeholder="Department">
        <input type="number" placeholder="100">
        <input type="submit" value="Add Student" id="submit">
    </form>
    <script src="../static/js/index.js"></script>
</body>
</html> 